.widgets, .controls,
.controls-btn,
.controls .controls-label,
.calendar-controls, .calendar-data {
  display: flex;
}

.controls-btn,
.controls .controls-label,
.calendar-controls, .calendar-data {
  flex-flow: row nowrap;
}

.widgets, .widget-calendar,
.controls {
  flex-flow: column;
}

.widget-calendar, .controls {
  align-items: stretch;
}

.calendar-controls {
  justify-content: center;
}

.calendar-controls, .calendar-data {
  align-items: center;
}

.days, .weeks, .month, .years {
  display: grid;
  align-items: flex-start;
  justify-content: stretch;
}

.controls .controls-label,
.controls-btn {
  justify-content: space-around;
}

.day, .week {
  text-align: center;
}

.controls {
  padding: 20px 0;
}

.controls .controls-label {
  margin-top: 20px;
}

.calendar-data span {
  font-size: 1.3em;
}

.years {
  grid-template-columns: repeat(3, 1fr);
}

.days, .weeks {
  grid-template-columns: repeat(7, 1fr);
  font-size: 0.5em;
}

.week, .day {
  padding: 5px 0;
  margin: 0.5px;
  border: 1px solid silver;
}

.month {
  margin: 5px;
}

.week {
  cursor: pointer;
  max-height: 21px;
}

.month-title {
  padding: 5px 0;
  text-align: center;
}

.no-active {
  color: silver;
}

.week:hover {
  color: #065ebb;
  text-shadow: 0 -1px 1em #065ebb;
}

.calendar-btn {
  margin:  0 5px;
  cursor: pointer;
}

.widget-calendar {
  background: #80f8ff;
  border: 1px solid silver;
  flex-grow: 1;
}

.day:not(.no-active):nth-child(7n - 1),
.day:not(.no-active):nth-child(7n) {
  color: red;
  font-weight: bold;
}

.day.no-active:nth-child(7n - 1),
.day.no-active:nth-child(7n) {
  color: #001dfb;
  font-weight: bold;
}

.now-date {
  background: #fff282;
}